<div class="app-sidebar full-height">
  <div class="sidebar-content full-height">
    <a [routerLink]="['/dashboard']" class="brand-container text-center">
      <div class="full-width">
        <h1 class="title">左右</h1>
      </div>
    </a>
    <mat-divider></mat-divider>

    <mat-list class="sidebar-menu">

      <mat-list-item *ngIf="authService.hasPerm('editor')"  routerLinkActive="active" [routerLink]="['/dashboard']" class="sidebar-menu-item" >
        <mat-icon matListIcon fontSet="fas" fontIcon="fa-columns"></mat-icon>
        <h3 matLine i18n>Dashboard</h3>
      </mat-list-item>

      <mat-list-item *ngIf="authService.hasPerm('editor')"  routerLinkActive="active" [routerLink]="['/group']" class="sidebar-menu-item" >
        <mat-icon matListIcon fontSet="fas" fontIcon="fa-edit"></mat-icon>
        <h3 matLine i18n>Groups</h3>
      </mat-list-item>

      <mat-list-item *ngIf="authService.hasPerm('admin')" routerLinkActive="active" [routerLink]="['/user']" class="sidebar-menu-item" >
        <mat-icon matListIcon fontSet="fas" fontIcon="fa-users"></mat-icon>
        <h3 matLine i18n>Users</h3>
      </mat-list-item>

    </mat-list>
  </div>
</div>
