<div class="app-sidebar full-height">
  <div class="sidebar-content full-height">
    <a [routerLink]="['/dashboard']" class="brand-container text-center">
      <div class="full-width">
        <h1 class="title">
          拍手
        </h1>
      </div>
    </a>
    <mat-divider></mat-divider>

    <mat-list class="sidebar-menu">

      <!--
      <mat-list-item *ngIf="authService.hasPerm('creator')"  routerLinkActive="active" [routerLink]="['/dashboard']" class="sidebar-menu-item" >
        <mat-icon matListIcon fontSet="fas" fontIcon="fa-columns"></mat-icon>
        <h3 matLine i18n>Dashboard</h3>
      </mat-list-item>
      -->

      <mat-list-item *ngIf="authService.hasPerm('creator')"  routerLinkActive="active" [routerLink]="['/topic']" class="sidebar-menu-item" >
        <mat-icon matListIcon fontSet="fas" fontIcon="fa-edit"></mat-icon>
        <h3 matLine i18n>News topics</h3>
      </mat-list-item>

      <mat-list-item *ngIf="authService.hasPerm('creator')"  routerLinkActive="active" [routerLink]="['/reaction']" class="sidebar-menu-item" >
        <mat-icon matListIcon fontSet="fas" fontIcon="fa-sign-language"></mat-icon>
        <h3 matLine i18n>Clapbacks</h3>
      </mat-list-item>

      <mat-list-item *ngIf="authService.hasPerm('editor')" routerLinkActive="active" [routerLink]="['/user']" class="sidebar-menu-item" >
        <mat-icon matListIcon fontSet="fas" fontIcon="fa-users"></mat-icon>
        <h3 matLine i18n>Users</h3>
      </mat-list-item>

      <mat-list-item *ngIf="authService.hasPerm('admin')" routerLinkActive="active" [routerLink]="['/media/videos']" class="sidebar-menu-item" >
        <mat-icon matListIcon fontSet="fas" fontIcon="fa-video"></mat-icon>
        <h3 matLine i18n>Video storage</h3>
      </mat-list-item>

      <mat-list-item *ngIf="authService.hasPerm('admin')" routerLinkActive="active" [routerLink]="['/media/images']" class="sidebar-menu-item" >
        <mat-icon matListIcon fontSet="fas" fontIcon="fa-images"></mat-icon>
        <h3 matLine i18n>Image storage</h3>
      </mat-list-item>

      <mat-list-item *ngIf="authService.hasPerm('admin')" routerLinkActive="active" [routerLink]="['/media/check']" class="sidebar-menu-item" >
        <mat-icon matListIcon fontSet="fas" fontIcon="fa-cogs"></mat-icon>
        <h3 matLine i18n>DB coherence check</h3>
      </mat-list-item>

      <a target="_blank" [href]="rabbitMQUrl">
        <mat-list-item *ngIf="authService.hasPerm('admin')" class="sidebar-menu-item" >
          <mat-icon matListIcon fontSet="fas" fontIcon="fa-tasks"></mat-icon>
          <h3 matLine i18n>Message queue &nbsp;<mat-icon fontSet="fas" fontIcon="fa-external-link-alt"></mat-icon></h3>
        </mat-list-item>
      </a>

    </mat-list>
  </div>
</div>
