<div class="app-reaction-search" *ngIf="!isLoading">
  <mat-nav-list>

    <mat-grid-list [cols]="cols" rowHeight="9:20" (window:resize)="onResize($event)">
      <mat-grid-tile *ngFor="let reaction of reactionService.reactions">

        <div class="reaction-tile">
          <vg-player>
            <vg-controls>
              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>

              <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
            </vg-controls>

            <vg-overlay-play vgFor="singleVideo"></vg-overlay-play>

            <video #media [vgMedia]="media" id="singleVideo" preload="auto" crossorigin>
              <source [src]="reaction.video | mediaUrl:'videoMP4'" type="video/mp4">
            </video>
          </vg-player>

          <div class="user-id pointer" [routerLink]="['/', 'user', 'edit', reaction.user._id]">
            <img [src]="reaction.user.image | mediaUrl:'avatar':-1:80:80" class="avatar" alt="avatar"/>
            <h3>{{reaction.user.name}}</h3>
            <p>{{reaction.user.email || reaction.user.phone}}</p>
          </div>

          <p class="margin">
            {{reaction.text.length > 100 ? (reaction.text | slice:0:100) + '...' : reaction.text}}
          </p>

          <div class="reaction-buttons">
            <button mat-button [routerLink]="['/', 'reaction', 'edit', reaction._id]" i18n>More ...</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-nav-list>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
