<div class="app-group-search" *ngIf="!isLoading">
  <mat-nav-list *ngFor="let list of [groups.current, groups.future, groups.past]">
    <h3 mat-subheader *ngIf="list === groups.current">
      <mat-icon fontSet="fas" fontIcon="fa-play"></mat-icon>
      Latest news
    </h3>
    <h3 mat-subheader *ngIf="list === groups.future">
      <mat-icon fontSet="fas" fontIcon="fa-forward"></mat-icon>
      Future news
    </h3>
    <h3 mat-subheader *ngIf="list === groups.past">
      <mat-icon fontSet="fas" fontIcon="fa-backward"></mat-icon>
      Past news
    </h3>

    <a mat-list-item *ngFor="let group of list" [routerLink]="['/', 'group', 'edit', group._id]">
      <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-file-alt"></mat-icon>
      <h4 mat-line>{{moment(group.date).format('dddd, MMMM Do YYYY, h:mm a')}}</h4>
      <p mat-line>{{group.content}}</p>
      <p mat-line data-text-color="red" *ngIf="list === groups.current && !group.approved" i18n>
        <b>This group has not been approved and cannot be seen on the app !</b>
      </p>

      <mat-checkbox [checked]="group.approved" (click)="approve($event, group)" matTooltip="Approve for publishing" i18n-matTooltip></mat-checkbox>
      <button mat-icon-button (click)="delete($event, group)">
        <mat-icon data-text-color="red" fontSet="fas" fontIcon="fa-trash" class="fa-lg"></mat-icon>
      </button>
    </a>
    <mat-divider></mat-divider>
  </mat-nav-list>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
