<form [formGroup]="form" *ngIf="!isLoading" class="app-quiz-form">
  <mat-form-field>
    <input matInput formControlName="question" i18n-placeholder placeholder="Question"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="content" i18n-placeholder placeholder="Subtext"/>
    <mat-hint i18n>A small text under the question.</mat-hint>
  </mat-form-field>

  <mat-checkbox formControlName="isPoll" i18n>Is a poll ?</mat-checkbox>

  <mat-form-field *ngIf="!form.value.isPoll">
    <textarea matInput formControlName="explanationText" rows="6" i18n-placeholder placeholder="Explanation text"></textarea>
    <mat-hint i18n>Use *text* and _text_ to put the text in bold and italics.</mat-hint>
  </mat-form-field>

  <div class="margin-top">
    <button mat-raised-button type="button" color="primary" (click)="addChoice()" i18n>
      <mat-icon data-text-color="white">add</mat-icon>
      Add choice
    </button>
  </div>

  <div formArrayName="choices" *ngFor="let choice of choices['controls']; let i = index">
    <hr/>
    <div [formGroupName]="i" fxLayout="row">
      <button mat-button fxFlex="2" (click)="removeChoice(i)"><mat-icon data-text-color="red">delete</mat-icon></button>

      <mat-form-field fxFlex fxFlexOffset="2">
        <input matInput formControlName="text" i18n-placeholder placeholder="Answer {{i}}"/>
      </mat-form-field>

      <mat-form-field fxFlex fxFlexOffset="2">
        <mat-label i18n>Color {{i}}</mat-label>
        <mat-select formControlName="color">
          <mat-option value="" i18n>None</mat-option>
          <mat-option value="red" i18n>Red</mat-option>
          <mat-option value="green" i18n>Green</mat-option>
          <mat-option value="blue" i18n>Blue</mat-option>
          <mat-option value="purple" i18n>Purple</mat-option>
          <mat-option value="black" i18n>Black</mat-option>
          <mat-option value="yellow" i18n>Yellow</mat-option>
          <mat-option value="grey" i18n>Grey</mat-option>
        </mat-select>
        <mat-hint i18n>The color associated with the answer.</mat-hint>
      </mat-form-field>

      <mat-checkbox fxFlex fxFlexAlign="center" fxFlexOffset="2" *ngIf="!form.value.isPoll" formControlName="goodAnswer" i18n>Good answer</mat-checkbox>

    </div>
  </div>

  <mat-hint *ngIf="hasMultipleGoodAnswers()" data-text-color="red" i18n>Be careful, you selected more than one good answer for this quiz !</mat-hint>
</form>
<mat-spinner *ngIf="isLoading"></mat-spinner>
