.model-search-view {
  .card-deck-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 10px 30px;
  }

  .card-item {
    padding: 5px 5px 5px 5px;
    min-width: 300px;
    max-width: 400px;

    mat-card {
      margin-top: 0;
    }

    mat-chip {
      width: auto;
      height: auto;
      font-size: mat-font-size($app-typography, 'caption');
    }
  }
}
