<form class="app-group-edit full-width" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoading" fxLayout="column" fxLayoutGap="24px">
  <app-datetimepicker-input formControlName="date"></app-datetimepicker-input>

  <mat-form-field>
    <textarea matInput i18n-placeholder placeholder="First page content" formControlName="content"></textarea>
    <mat-hint i18n>Content displayed on the first page of the news group. Max 500 chars</mat-hint>
  </mat-form-field>

  <app-upload-input formControlName="image" i18n-name name="Cover image"></app-upload-input>

  <div>
    <button type="button" mat-raised-button color="accent" cdkFocusInitial i18n (click)="addItem()">
      <mat-icon data-text-color="white">add</mat-icon> Add news
    </button>
  </div>

  <div formArrayName="items" *ngFor="let item of items.controls; let index = index;">
    <hr/>
    <mat-card>
      <h3>
        <button type="button" mat-icon-button (click)="removeItem(index)" matTooltip="remove Item"><mat-icon data-text-color="red">delete</mat-icon></button>
        News {{index + 1}}
      </h3>

      <div class="full-width" [formGroupName]="index">
          <mat-form-field class="full-width">
            <input matInput formControlName="title" i18n-placeholder placeholder="Title news {{index + 1}}"/>
          </mat-form-field>

          <mat-form-field class="full-width">
            <textarea matInput formControlName="content" i18n-placeholder placeholder="News {{index + 1}} content"></textarea>
            <mat-hint i18n>Max 500 chars</mat-hint>
          </mat-form-field>

        <app-upload-input formControlName="image" i18n-name name="Cover image"></app-upload-input>

        <app-upload-input formControlName="videoLeft" i18n-name name="Left video"></app-upload-input>

        <app-upload-input formControlName="videoRight" i18n-name name="Right video"></app-upload-input>
      </div>
    </mat-card>
  </div>

  <div>
    <button type="submit" [disabled]="form.pristine || form.invalid || isUploading" mat-raised-button color="accent" cdkFocusInitial i18n>
      <span *ngIf="isCreation && !isUploading" i18n>Create</span>
      <span *ngIf="!isCreation && !isUploading" i18n>Update</span>
      <span *ngIf="isUploading" i18n>Uploading...</span>
    </button>
  </div>
</form>
<mat-spinner *ngIf="isLoading"></mat-spinner>
