<div class="app-upload-input">
  <input #uploadInput hidden type="file" onclick="this.value=null" (change)="onChange($event)"/>
  <button mat-flat-button type="button" [disabled]="isUploading" color="primary" (click)="uploadInput.click()" i18n>
    <span *ngIf="!filePath">{{name}}</span>
    <span *ngIf="filePath" i18n>Replace {{name}}</span>
  </button>
  <span *ngIf="filePath && !isUploading && !isError" i18n>&nbsp;Current: <a target="_blank" [href]="host + filePath">{{filePath}}</a></span>

  <span *ngIf="isUploading && !isError" i18n>&nbsp;Uploading... {{uploadProgress}}%</span>
  <mat-progress-bar *ngIf="isUploading && !isError" [value]="uploadProgress">
  </mat-progress-bar>

  <span *ngIf="isError && !isUploading" class="error" i18n>&nbsp;Error: No file uploaded {{errorMsg|json}} !</span>
</div>
