<div class="app-topic-search" *ngIf="!isLoading">
  <mat-nav-list>
    <h3 mat-subheader>
      The topics appear as they are ordered here.
    </h3>

    <a mat-list-item *ngFor="let topic of topicService.topics" [routerLink]="['/', 'topic', 'edit', topic._id]"
       [ngClass]="{'not-shown': moment(topic.date) > moment() || topic.status === 'processing' || topic.status === 'private'}">
      <mat-icon *ngFor="let panel of [topic.leftPanel, topic.centerPanel, topic.rightPanel]" mat-list-icon fontSet="fas"
                [fontIcon]="panel.video ? 'fa-file-video' : panel.text ? 'fa-file-alt' : panel.quiz ? 'fa-file-signature' : 'fa-times'"></mat-icon>

      <h3 mat-line>{{topic.title}}</h3>
      <p mat-line>
        {{moment(topic.date).format('dddd, MMMM Do YYYY, h:mm a')}}
      </p>

      <mat-checkbox *ngIf="topic.status === 'public' || topic.status === 'private'"
                    [checked]="topic.status === 'public'"
                    [disabled]="!authService.hasPerm('editor')"
                    (click)="approve($event, topic)"
                    matTooltip="Approve for publishing" i18n-matTooltip></mat-checkbox>

      <mat-spinner *ngIf="topic.status === 'processing'" diameter="40"
                    matTooltip="The videos are being processed. Please wait..." i18n-matTooltip></mat-spinner>

      <button mat-icon-button (click)="delete($event, topic)">
        <mat-icon data-text-color="red" fontSet="fas" fontIcon="fa-trash" class="fa-lg"></mat-icon>
      </button>
    </a>
    <mat-divider></mat-divider>
  </mat-nav-list>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
