<div *ngIf="!isLoading" class="app-users-search">
  <table mat-table [dataSource]="userService.users" class="full-width">

    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">{{element.phone}}</td>
    </ng-container>

    <ng-container matColumnDef="permissions">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngFor="let perm of element.permissions" matListIcon fontSet="fas"
                  [fontIcon]="perm === 'user' ? 'fa-user' :
                              perm === 'creator' ? 'fa-pen-fancy' :
                              perm === 'editor' ? 'fa-spell-check' :
                              perm === 'admin' ? 'fa-tools' : 'fa-question'"
                  [matTooltip]="perm === 'user' ? 'Regular user' :
                              perm === 'creator' ? 'Creator' :
                              perm === 'editor' ? 'Editor' :
                              perm === 'admin' ? 'Administrator' : 'Unknown (' + perm + ')'"></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/user/edit', row._id]"></tr>
  </table>
</div>
