<div class="app-dashboard" *ngIf="!isLoading">
  <div fxLayout="row" fxLayoutGap="24px">
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title i18n>Current news</mat-card-title>
          <mat-card-subtitle i18n>News group currently displayed to the users</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p [innerHTML]="latest.title">
          </p>

          <mat-accordion>
            <!--
            <div *ngFor="let item of latest.items">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  {{item.title}}
                </mat-expansion-panel-header>
                <p [innerHTML]="item.content"></p>
              </mat-expansion-panel>
              <mat-divider></mat-divider>
            </div>
            -->
          </mat-accordion>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button [routerLink]="['/', 'topic', 'edit', latest._id]">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex>
    </div>
  </div>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
