<div class="app-dashboard" *ngIf="!isLoading">
  <div fxLayout="row" fxLayoutGap="24px">
    <div fxFlex>
      <!--
      <mat-card>
        <mat-card-header>
          <mat-card-title i18n>Current news</mat-card-title>
          <mat-card-subtitle i18n>News topic currently displayed to the users</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="latest">
          <p [innerHTML]="latest.title">
          </p>

          <mat-accordion>
            <!--
            <div *ngFor="let item of latest.items">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  {{item.title}}
                </mat-expansion-panel-header>
                <p [innerHTML]="item.content"></p>
              </mat-expansion-panel>
              <mat-divider></mat-divider>
            </div>
            -->
      <!--
          </mat-accordion>
        </mat-card-content>
        <mat-card-content *ngIf="!latest">
          <p i18n>
            No current news topic has been found !
          </p>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="latest">
          <button mat-button [routerLink]="['/', 'topic', 'edit', latest._id]">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      -->

      <p style="text-align: center" class="margin-top-lg">
        <br>
        <button mat-raised-button style="margin-top: 24px" routerLink="/topic" color="primary" i18n>Go to topics</button><br>
        <button mat-raised-button style="margin-top: 24px; background: #9e1a12" routerLink="/topic/edit" color="accent" i18n>
          <mat-icon data-text-color="white">add</mat-icon>
          Add a topic
        </button>
      </p>
    </div>

    <div fxFlex>
    </div>
  </div>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
