<div class="app-admin-search" *ngIf="!isLoading">
  <div fxLayout fxLayoutGap="12px">
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title i18n>Image files</mat-card-title>
          <mat-card-subtitle i18n>Weight of all the image files stored on the server.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="counter">
          <span class="counter-main">{{floor(imagesStats.size/1000000) | number:'1.0-0'}}.</span>
          <span class="counter-secondary">{{(imagesStats.size - floor(imagesStats.size/1000000)*1000000)/1000|number:'1.0-0'}}</span>
          <span class="counter-unit">&nbsp;Mb</span>
        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title i18n>Remove image resizing</mat-card-title>
          <mat-card-subtitle i18n>
            Often, the app is resizing an image to optimize the download speed. 
            The server stores the modified and original version.
            The modified version can be identified by a name ending with "_w200_h300.jpg"
            for instance. All the modified images can be removed, it will free a lot of storage space,
            but decrease slightly the download speed the first time the image will be downloaded again,
            because the server will have to modify and save the original image again. 
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-raised-button color="warn" (click)="emptyModifiedImages()">
            <mat-icon data-text-color="white">delete</mat-icon>
            Remove all modified images
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <mat-nav-list>
    <h3 mat-subheader>
      Image files stored in the server. (<strong>{{imagesStats.images.length}}</strong>)
    </h3>

    <a mat-list-item *ngFor="let media of imagesStats.images" [href]="host + '/media/image/' + media" target="_blank">
      <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-file-image"></mat-icon>
      <h3 mat-line>{{media}}</h3>
      <button mat-icon-button (click)="removeImage($event, media)">
        <mat-icon data-text-color="red" fontSet="fas" fontIcon="fa-trash" class="fa-lg"></mat-icon>
      </button>
    </a>
    <mat-divider></mat-divider>
  </mat-nav-list>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
