<form class="app-topic-edit full-width" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoading" fxLayout="column" fxLayoutGap="24px">
  <mat-checkbox formControlName="approved" [disabled]="!authService.hasPerm('editor')" i18n>Approved for publishing</mat-checkbox>

  <app-datetimepicker-input formControlName="date"></app-datetimepicker-input>

  <mat-form-field class="full-width">
    <input matInput formControlName="title" i18n-placeholder placeholder="Title"/>
  </mat-form-field>

  <app-upload-input formControlName="video"
                    (uploadStart)="uploading = uploading + 1"
                    (uploadStop)="uploading = uploading - 1"
                    i18n-name name="Main panel video"></app-upload-input>

  <!-- Left panel -->
  <hr/>
  <mat-card>
    <h3 i18n>Left panel</h3>
    <div class="full-width">
      <!--
      <mat-form-field class="full-width">
        <input matInput formControlName="title" i18n-placeholder placeholder="Title news {{index + 1}}"/>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput formControlName="content" i18n-placeholder placeholder="News {{index + 1}} content"></textarea>
        <mat-hint i18n>Max 500 chars</mat-hint>
      </mat-form-field>

      <app-upload-input formControlName="image"
                        (uploadStart)="uploading = uploading + 1"
                        (uploadStop)="uploading = uploading - 1"
                        i18n-name name="Cover image"></app-upload-input>

      <app-upload-input formControlName="videoLeft"
                        (uploadStart)="uploading = uploading + 1"
                        (uploadStop)="uploading = uploading - 1"
                        i18n-name name="Left video"></app-upload-input>

      <app-upload-input formControlName="videoRight"
                        (uploadStart)="uploading = uploading + 1"
                        (uploadStop)="uploading = uploading - 1"
                        i18n-name name="Right video"></app-upload-input>
    -->
    </div>
  </mat-card>

  <hr/>
  <mat-card>
    <p>Same thing but for the right panel.</p>
  </mat-card>

  <div>
    <button type="submit" [disabled]="form.pristine || form.invalid || !!uploading" mat-raised-button color="accent" cdkFocusInitial i18n>
      <span *ngIf="isCreation && !uploading" i18n>Create</span>
      <span *ngIf="!isCreation && !uploading" i18n>Update</span>
      <span *ngIf="!!uploading" i18n>Uploading...</span>
    </button>
  </div>
</form>
<mat-spinner *ngIf="isLoading"></mat-spinner>
