.app-topic-edit {
  &> * {
    width: 100%;
  }

  h3 {
    font-size: 1.5em;
  }

  hr {
    margin-bottom: 0;
    margin-top: 0;
  }

  padding: 24px;

  mat-card {
    mat-form-field {
      display: block;
      margin-bottom: 12px;
      margin-top: 12px;
    }
  }
}
