<form class="app-topic-edit full-width" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoading" fxLayout="column" fxLayoutGap="24px">
  <mat-checkbox formControlName="approved" [disabled]="!authService.hasPerm('editor')" i18n>Approved for publishing</mat-checkbox>

  <app-datetimepicker-input formControlName="date"></app-datetimepicker-input>

  <mat-form-field class="full-width">
    <input matInput formControlName="title" i18n-placeholder placeholder="Title"/>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput formControlName="hashtag" i18n-placeholder placeholder="Hashtag"/>
    <mat-hint i18n>You don't need to put the # symbol at the beginning.</mat-hint>
  </mat-form-field>

  <hr/>

  <mat-card>
    <h3 i18n>Center Panel</h3>
    <div class="full-width" formGroupName="centerPanel">

      <mat-form-field>
        <mat-label i18n>Author</mat-label>
        <mat-select formControlName="author">
          <mat-option *ngFor="let user of authors" [value]="user._id">{{user.name || user.email}}</mat-option>
        </mat-select>
        <mat-hint i18n>You can only choose a verified user.</mat-hint>
      </mat-form-field>

      <app-upload-input formControlName="video"
                        (uploadStart)="uploading = uploading + 1"
                        (uploadStop)="uploading = uploading - 1"
                        i18n-name name="Video"></app-upload-input>
    </div>
  </mat-card>

  <hr/>

  <mat-card *ngFor="let panel of ['leftPanel', 'rightPanel']">
    <h3>{{panel === 'leftPanel' ? 'Left Panel' : 'Right Panel'}}</h3>
    <div [formGroupName]="panel">

      <mat-form-field>
        <mat-label i18n>Author</mat-label>
        <mat-select formControlName="author">
          <mat-option *ngFor="let user of authors" [value]="user._id">{{user.name || user.email}}</mat-option>
        </mat-select>
        <mat-hint i18n>You can only choose a verified user.</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>Type</mat-label>
        <mat-select [(ngModel)]="panel === 'leftPanel' ? leftPanelType : rightPanelType" [ngModelOptions]="{standalone: true}" (valueChange)="changeType($event, panel)">
          <mat-option value="video" i18n>Video</mat-option>
          <mat-option value="text" i18n>Text + Image</mat-option>
          <mat-option value="quiz" i18n>Quiz</mat-option>
        </mat-select>
      </mat-form-field>

      <app-upload-input *ngIf="(panel === 'leftPanel' && leftPanelType === 'video') || (panel === 'rightPanel' && rightPanelType === 'video')"
                        formControlName="video"
                        (uploadStart)="uploading = uploading + 1"
                        (uploadStop)="uploading = uploading - 1"
                        i18n-name name="Video"></app-upload-input>

      <div *ngIf="(panel === 'leftPanel' && leftPanelType === 'text') || (panel === 'rightPanel' && rightPanelType === 'text')">

        <app-upload-input formControlName="image"
                          (uploadStart)="uploading = uploading + 1"
                          (uploadStop)="uploading = uploading - 1"
                          i18n-name name="Image"></app-upload-input>

        <mat-form-field class="full-width">
          <textarea matInput formControlName="text" rows="6" i18n-placeholder placeholder="Text content"></textarea>
          <mat-hint i18n>Use *text* and _text_ to put the text in bold and italics.</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea matInput formControlName="textAlt" rows="6" i18n-placeholder placeholder="Alternative text content"></textarea>
          <mat-hint i18n>The same text as above in chinese.</mat-hint>
        </mat-form-field>

      </div>

      <div *ngIf="(panel === 'leftPanel' && leftPanelType === 'quiz') || (panel === 'rightPanel' && rightPanelType === 'quiz')">
        <app-quiz formControlName="quiz"></app-quiz>
      </div>
    </div>
  </mat-card>

  <div>
    <button type="submit" [disabled]="form.pristine || form.invalid || !!uploading" mat-raised-button color="accent" cdkFocusInitial i18n>
      <span *ngIf="isCreation && !uploading" i18n>Create</span>
      <span *ngIf="!isCreation && !uploading" i18n>Update</span>
      <span *ngIf="!!uploading" i18n>Uploading...</span>
    </button>
  </div>
</form>
<mat-spinner *ngIf="isLoading"></mat-spinner>
